<!DOCTYPE HTML>
<html lang="en">
<%include partials/templates/html_head%><!--include HTML head-->
<body>
<%include partials/templates/header%><!--include header-->

<main>
    <section class="lead">
        <h2 class="visually-hidden">Welcome!</h2>
        <div class="container">
            <div class="lead__content">
                <p>Welcome on the Polish Ski Jumpers Fan Page for winter season 2016/2017.
                    This website was made as a web developement project, and it's main goal was to practice Express Js.
                    Please go to <a href="/about" title="Go to About page" class="content__link">'About'</a> section for more details.
                </p>
                <p>What will you find here? Information about 2016/2017 season such as: polish squad with jumpers details,
                    calendar of all events and details of all ski jumping hills that will host competitions.
                </p>
                <p>Welcome in the world of this beautiful sport, where all it matters is pure competition and no negative
                    emotions! Enjoy this journey!</p>
            </div><!--lead__content-->
        </div><!--container-->
    </section><!--lead-->

    <section class="details">
        <h2 class="visually-hidden">Find out more</h2>
        <div class="container">
            <div class="row-flex">
                <div class="contests">
                    <div class="contests__item">
                        <h2>Last contest</h2>
                        <span><%=prevEvent.date%>, <%=prevEvent.place%><img src="images/<%=prevEvent.country%>.png"></span>
                        <span>Type: <%=prevEvent.type%></span>

                    </div>
                    <div class="contests__item">
                        <h2>Next contest</h2>
                        <span><%=nextEvent.date%>, <%=nextEvent.place%><img src="images/<%=nextEvent.country%>.png"></span>
                        <span>Type: <%=nextEvent.type%></span>
                    </div><!--contests__item-->
                </div><!--contests-->
                <iframe class="iframe" src="https://www.youtube.com/embed/vN9HLTqCUXk" frameborder="0" allowfullscreen></iframe>
            </div><!--row-flex-->
        </div><!--container-->
    </section><!--section details-->
</main>

<%include partials/templates/footer%><!--include footer-->

<%include partials/templates/scripts%><!--contests include scripts-->
</body>
</html>
