<!DOCTYPE HTML>
<html lang="en">
<%include partials/templates/html_head%>
<body>
<%include partials/templates/header%>

<div class="container">
    <div id="image-header" class="image-header">

    </div>
    <h1 class="text-center"><%=data.place%>, <%=data.country%></h1>
    <h2><%=data.name%></h2>
    <p><%=data.description%></p>
    <iframe width="560" height="315" src="<%=data.yt%>" frameborder="0" allowfullscreen></iframe>
</div><!--container-->


<%include partials/templates/scripts%>
</body>
</html>
