<!DOCTYPE HTML>
<html lang="en">
<%include partials/templates/html_head%><!--include HTML head-->
<body>
<%include partials/templates/header%><!--include header-->

<div class="container">
    <div class="image-header" id="image-header">
        <img src="/images/hills/<%=data.place%>.jpg" alt="<%=data.name%>" class="image-header__img">
    </div>

    <h1 class="text-center hill-header"><%=data.place%>, <%=data.country%></h1>

    <div class="row-flex">
            <table class="table">
                    <thead>
                        <tr>
                            <th class="table-item--bold">Details:</th>
                            <th class="table-item--bold"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table-item--bold">Name:</th>
                            <th class="table-item--light"><%=data.name%></th>
                        </tr>
                        <tr>
                            <th class="table-item--bold">Hill Size:</th>
                            <th class="table-item--light"><%=data.hillSize%></th>
                        </tr>
                        <tr>
                            <th class="table-item--bold">K-Point:</th>
                            <th class="table-item--light"><%=data.kPoint%></th>
                        </tr>
                        <tr>
                            <th class="table-item--bold">Hill Record:</th>
                            <th class="table-item--light">
                            <%if (typeof data.hillRecord==='object'){%>
                                <%data.hillRecord.map(function(item){%>
                                    <%=item%><br>
                                <%})%>
                            <%} else {%>
                                <%=data.hillRecord%>
                            <%}%>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-item--bold">Competitions this season:</th>
                            <th class="table-item--light">

                                <%data.competitions.map(function(item){%>
                                    <span><%=item.date%>, <%=item.type%></span><br>
                                <%})%>

                            </th>
                        </tr>
                    </tbody>
            </table>
            <iframe class="iframe" src="<%=data.yt%>" allowfullscreen></iframe><!--YT video-->
    </div><!--row-flex-->
    <div class="hill-description">
        <p class="hill-description__content"><%=data.description%></p>
    </div><!--hill description-->
</div><!--container-->

<%include partials/templates/footer%><!--include footer-->

<%include partials/templates/scripts%><!--include scripts-->
</body>
</html>
