<!DOCTYPE HTML>
<html lang="en">
<%include partials/templates/html_head%>
<body>
<%include partials/templates/header%>

<div class="container">
    <div class="image-header">
        <img src="/images/hills/<%=data.place%>.jpg" alt="<%=data.name%>" class="image-header__img">
    </div>

    <h1 class="text-center hill-h1"><%=data.place%>, <%=data.country%></h1>

    <div class="row-flex">
        <div class="col-sm-6 row-flex__column">
            <table class="table">
                    <thead>
                        <tr>
                            <th class="table-item--bold">Details:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table-item--bold">Name:</th>
                            <th class="table-item--light"><%=data.name%></th>
                        </tr>
                        <tr>
                            <th class="table-item--bold">Hill Size:</th>
                            <th class="table-item--light"><%=data.hillSize%></th>
                        </tr>
                        <tr>
                            <th class="table-item--bold">K-Point:</th>
                            <th class="table-item--light"><%=data.kPoint%></th>
                        </tr>
                        <tr>
                            <th class="table-item--bold">Hill Record:</th>
                            <th class="table-item--light">
                            <%if (typeof data.hillRecord==='object'){%>
                                <%data.hillRecord.map(function(item){%>
                                    <%=item%><br>
                                <%})%>
                            <%} else {%>
                                <%=data.hillRecord%>
                            <%}%>
                            </th>
                        </tr>
                    </tbody>
            </table>
        </div>

        <div class="col-sm-6">
            <iframe class="iframe" src="<%=data.yt%>" frameborder="0" allowfullscreen></iframe>
        </div>
    </div><!--row-flex-->
    <p class="content"><%=data.description%></p>
</div><!--container-->


<%include partials/templates/scripts%>
</body>
</html>
