<!DOCTYPE HTML>
<html lang="en">
<%include partials/templates/html_head%><!--include HTML head-->
<body>
<%include partials/templates/header%><!--indlude header-->

<div class="container">
	<!--HEADER-->
	<h1 class="skijumpers-header text-center">Polish Team for season 2017/18</h1>

	<!--MAIN CONENT-->
	<!--GO THROUGH JUMPERS LIST AND GET DATA-->
	<%jumpersList.forEach(function(item, index){%>
		<%if (index%2===0) {%><!--IF INDEX IS EVEN (NOT ODD), ADD ROW DIV OUTSIDE-->
			<div class="row-flex-card">
		<%}%>
			<div class="card">
				<h2 class="card__header"><%=item.name%></h2><!--SKIJUMPER NAME-->
				<div class="card-details">
						<!--SKIJUMPER PHOTO-->
						<img class="card-details__image" src="/images/ski jumpers/<%=item.image%>" alt="<%=item.image%>">

						<!--SKIJUMPER DETAILS-->
					<div class="card-details__jumper-details">
						<span class="jumper-details__item">Age: <%=item.age%>, Born in: <%=item.city%></span>
						<span class="jumper-details__item">Personal Best: <%=item.PB%></span>
						<span class="jumper-details__item jumper-details__item--header">World Cup Stats:</span>
						<span class="jumper-details__item">Individual Wins: <%=item.worldCup.indWins%></span>
						<span class="jumper-details__item">Team Wins: <%=item.worldCup.teamWins%></span>
						<span class="jumper-details__item">Individual Podiums: <%=item.worldCup.indPodiums%></span>
						<span class="jumper-details__item">Team Podiums: <%=item.worldCup.teamPodiums%></span>
						<span class="jumper-details__item">Individual Starts: <%=item.worldCup.indStarts%></span>
						<%if (item.worldCup.yellowBibs){%>
							<span class="jumper-details__item">Yellow Bibs: <%=item.worldCup.yellowBibs%></span>
						<%}%>

						<%if (item.worldChampionschips){%>
							<span class="jumper-details__item jumper-details__item--header">World Championships:</span>
							<%if (item.worldChampionschips.gold){%>
								<span class="jumper-details__item">Gold: <%=item.worldChampionschips.gold%></span>
							<%}%>
							<%if (item.worldChampionschips.silver){%>
								<span class="jumper-details__item">Silver: <%=item.worldChampionschips.silver%></span>
							<%}%>
							<%if (item.worldChampionschips.bronze){%>
								<span class="jumper-details__item">Bronze: <%=item.worldChampionschips.bronze%></span>
							<%}%>
						<%}%>

						<%if (item.olympics){%>
							<span class="jumper-details__item jumper-details__item--header">Olympics:</span>
							<%if (item.olympics.gold){%>
								<span class="jumper-details__item">Gold: <%=item.olympics.gold%></span>
							<%}%>
							<%if (item.olympics.silver){%>
								<span class="jumper-details__item">Silver: <%=item.olympics.silver%></span>
							<%}%>
							<%if (item.olympics.bronze){%>
								<span class="jumper-details__item">Bronze: <%=item.olympics.bronze%></span>
							<%}%>
						<%}%>
					</div><!--CARDE DETAILS > JUMPER DETAILS-->
				</div><!--CARD DETAILS-->
				<p class="card__summary"><%=item.summary%></p>
			</div> <!--CARD-->

		<%if (index%2) {%>
			</div> <!--ROW-FLEX CLOSE-->
		<%}%>
	<%});%>

</div>

<%include partials/templates/footer%><!--include footer-->

<%include partials/templates/scripts%><!--include scripts-->
</body>
</html>
